<div class="row">
  <div class="col-md-6">
    <h3>Feb 5</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ page.survey_stub }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>1:00pm</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>2:20pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30pm</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Feb 12</h3>
    <table class="table table-striped">
      <tr> <td>1:00pm</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>2:20pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30pm</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Feb 19</h3>
    <table class="table table-striped">
      <tr> <td>1:00pm</td>  <td>Python Fundamentals</td> </tr>
      <tr> <td>2:20pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30pm</td>  <td>Tabular Data</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Feb 26</h3>
    <table class="table table-striped">
       <tr> <td>1:00pm</td>  <td>Python, TBD</td> </tr>
      <tr> <td>2:20pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30pm</td>  <td>Python, TBD</td> </tr>
      <tr> <td>3:45pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
