<div class="row">
  <div class="col-md-6">
    <h3>Feb 5</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ page.survey_stub }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
            <tr> <td>11:30am</td>  <td>Software Installation Assistance</td> </tr>
      <tr> <td>noon</td>  <td><a href="http://swcarpentry.github.io/shell-novice">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td>2:00pm</td>  <td>Break</td> </tr>
      <tr> <td>2:15pm</td>  <td><a href="http://swcarpentry.github.io/shell-novice">Automating Tasks with the Unix Shell</a> (Continued)</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Feb 12</h3>
    <table class="table table-striped">
      <tr> <td>noon</td>  <td><a href="http://swcarpentry.github.io/git-novice">Version Control with Git</a></td> </tr>
      <tr> <td>2:00pm</td>  <td>Break</td> </tr>
      <tr> <td>2:15pm</td>  <td><a href="http://swcarpentry.github.io/git-novice">Version Control with Git</a>(Continued)</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Feb 19</h3>
    <table class="table table-striped">
      <tr> <td>noon</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation">Python Fundamentals</a></td> </tr>
      <tr> <td>2:00pm</td>  <td>Break</td> </tr>
      <tr> <td>2:15pm</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation">Tabular Data</a></td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Feb 26</h3>
    <table class="table table-striped">
       <tr> <td>noon</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation">Python</a>, TBD</td> </tr>
      <tr> <td>2:00pm</td>  <td>Break</td> </tr>
      <tr> <td>2:150pm</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation">Python</a>, TBD</td> </tr>
      <tr> <td>3:45pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
            <tr> <td>After</td> <td><a href="{{ site.post_survey }}{{ page.survey_stub }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a> </td> </tr>
    </table>
  </div>
</div>
